In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('countylevelvotes.csv')

In [3]:
df.head()

                      County  Democratic  Liberation  Republic
0  Ketchikan Gateway Borough       389.0        14.0     305.0
1  Ketchikan Gateway Borough       524.0        28.0     470.0
2  Ketchikan Gateway Borough       293.0        14.0     431.0
3  Ketchikan Gateway Borough       178.0        10.0     339.0
4  Ketchikan Gateway Borough       362.0        20.0     639.0

In [4]:
# Group by 'County' and sum the specified columns
result = df.groupby('County')[['Democratic', 'Liberation', 'Republic']].sum()

# Reset the index to include 'County' as a column
result.reset_index(inplace=True)

# Save the result to a CSV file
result.to_csv('grouped_by_county.csv', index=False)

In [5]:
result.head()

                       County  Democratic  Liberation  Republic
0      Aleutians East Borough        76.0        12.0     243.0
1  Aleutians West Census Area       254.0        11.0     287.0
2      Anchorage Municipality     49028.0      1152.0   35241.0
3          Bethel Census Area      3074.0        29.0     573.0
4         Bristol Bay Borough       145.0         4.0     149.0